<!doctype html>
<title>Pi Home Assist</title>
<link rel="stylesheet" href="{{ url_for('static', filename='styles/main.css') }}">
<span class="header">Homeautomation</span>
{% if not fh %}
Not configured 
{% else %}
<div class="float-container">
  <img class="img-button" src="/static/atb-off-off.png" onClick="setTemp('all', 'off');">
  <img class="img-button" src="/static/atb-eco-off.png" onClick="setTemp('all', 'eco');">
  <img class="img-button" src="/static/atb-com-off.png" onClick="setTemp('all', 'comfort');">
  {% if config.fritz.enabled and config.fritz.away != "disabled" %}
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <img id="away_img" class="img-button" src="/static/atb-away-off.png" onClick="setTemp('all', 'away');">
  {% endif %}
</div>

{% for d in fh.get_devices() %}
{% set dev = fh.get_device(d) %}
{% if dev["category"] == "FRITZ!DECT 200" %}
<div class="float-container" id="{{ d }}_main">
    <div class="switch-left">
        <img id="{{ d }}_switch" class="img-button" src="/static/atb-switch-off.png" onClick="toggleSwitch('{{ d }}');"/>
    </div>
    <div class="switch-middle">
        <span class="info-first">{{ d }}</span>
        <span id="{{ d }}_error"></span>
        <span class="info-second" id="{{ d }}_info">
            &#9211; <span id="{{ d }}_state">?</span>
            &#128497; <span id="{{ d }}_pwr">?</span>W
        </span>
    </div>
    <div class="switch-right">
        <span class="info-temp">
            <span id="{{ d }}_temp">?</span>&#8451;
        </span>
    </div>
</div>
{% elif dev["category"] == "Comet DECT" %}
<div class="float-container" id="{{ d }}_main">
    <div class="thermostat-left">
        <img class="img-button" id="{{ d }}_off" src="/static/atb-off-off.png" onClick="setTemp('{{ d }}', 'off');"/>
        <img class="img-button" id="{{ d }}_eco" src="/static/atb-eco-off.png" onClick="setTemp('{{ d }}', 'eco');"/>
        <img class="img-button" id="{{ d }}_com" src="/static/atb-com-off.png" onClick="setTemp('{{ d }}', 'comfort');"/>
    </div>
    <div class="thermostat-middle">
        <span class="info-first">{{ d }}</span>
        <span id="{{ d }}_error"></span>
        <span class="info-second" id="{{ d }}_info">
            &#127777; <span id="{{ d }}_target">?</span>&#8451; 
            &#128498; <span id="{{ d }}_bat">?</span>%
        </span>
        <span class="window-open" id="{{ d }}_wo">open</span>
    </div>
    <div class="thermostat-right">
        <span class="info-temp">
            <span id="{{ d }}_temp">?</span>&#8451;
        </span>
    </div>
</div>

{% endif %}
<script>
var {{ d }}_checker = window.setInterval(function(){
    fetchData("{{ d }}");
}, 1000);
</script>
{% endfor %}
{% endif %}
<div style="margin-top:15px;"></div>
<span class="header">Pi Actions</span>

{% if not pi %}
Not configured
{% else %}
<div class="float-container">
    <div class="pi-left">
        <img class="img-button" src="/static/atb-toilet-off.png"/>
        <img class="img-button" src="/static/atb-power-off.png"/>
        <img class="img-button" src="/static/atb-slideshow-on.png"/>
        <img class="img-button" src="/static/atb-calendar-off.png"/>
        <img class="img-button" src="/static/atb-movement-off.png"/>
    </div>
</div>
{% endif %}

<script>

const toggleSwitch = async (name) => {
    const response = await fetch('{{ api_endpoint }}/toggle', {
    method: 'POST',
    body: JSON.stringify({"name": name}),
    headers: {
      'Accept': 'application/json',
      'Content-Type': 'application/json'
    }
  });
  const new_state = await response.json(); //extract JSON from the http response
  console.log("receive new state " + new_state);
}

const setTemp = async (name, temp) => {
  console.log("set device '" + name + "' to '" + temp + "'");
    const response = await fetch('{{ api_endpoint }}/temp', {
    method: 'POST',
    body: JSON.stringify({"name": name, "temp": temp}),
    headers: {
      'Accept': 'application/json',
      'Content-Type': 'application/json'
    }
  });
  const new_temp = await response.json(); //extract JSON from the http response
}

const onError = function(name, data) {
  if (data["category"] == "Comet DECT") {
    document.getElementById(name+"_off").setAttribute("src", "/static/atb-error.png");
    document.getElementById(name+"_eco").setAttribute("src", "/static/atb-error.png");
    document.getElementById(name+"_com").setAttribute("src", "/static/atb-error.png");
    document.getElementById(name+"_error").innerHTML = data["msg"];
    document.getElementById(name+"_info").style.visibility = "hidden";
    document.getElementById(name+"_temp").innerHTML = "?";
    document.getElementById(name+"_wo").style.visibility = "hidden";
  } else if (data["category"] == "FRITZ!DECT 200") {
    document.getElementById(name+"_switch").setAttribute("src", "/static/atb-error.png");
    document.getElementById(name+"_info").style.visibility = "hidden";
    document.getElementById(name+"_error").innerHTML = data["msg"];
    document.getElementById(name+"_temp").innerHTML = "?";
  } else {
    console.log("error not handled on category '" + data["category"] + "'!");
  }
}

const fetchData = async (name) => {
    const response = await fetch('{{ api_endpoint }}/get?name='+name, {
    method: 'GET',
    headers: {
      'Content-Type': 'application/json'
    }
  });
  if (response.status != 200) {
      console.log("error retrieving data")
      console.log(response)
      return;
  }
  const myJson = await response.json(); //extract JSON from the http response
  var an = (myJson["away"] == "no") ? "off" : "on";
  document.getElementById("away_img").setAttribute("src", "/static/atb-away-" + an + ".png");
  if (myJson["status"] !== "ok") {
    onError(name, myJson);
    return;
  } else if (myJson["category"] == "Comet DECT") {
    var target = myJson["target"];
    var eco = myJson["eco"];
    var comf = myJson["comfort"];
    var n = (target == eco) ? "on" : "off"; 
    document.getElementById(name+"_eco").setAttribute("src", "/static/atb-eco-" + n + ".png");
    n = (target == comf) ? "on" : "off"; 
    document.getElementById(name+"_com").setAttribute("src", "/static/atb-com-" + n + ".png");
    n = (target == 126.5) ? "on" : "off"; 
    document.getElementById(name+"_off").setAttribute("src", "/static/atb-off-" + n + ".png");
    //n = (target == 127.0) ? "on" : "off"; 
    //document.getElementById(name+"_on").setAttribute("src", "/static/atb-on-" + n + ".png");
    document.getElementById(name+"_error").innerHTML = "";
    document.getElementById(name+"_info").style.visibility = "visible";
    document.getElementById(name+"_temp").innerHTML = myJson["temperature"];
    document.getElementById(name+"_target").innerHTML = (target < 126) ? target : "off";
    document.getElementById(name+"_bat").innerHTML = myJson["battery"];
    document.getElementById(name+"_wo").style.visibility = myJson["window_open"] ? "visible" : "hidden";
  } else if (myJson["category"] == "FRITZ!DECT 200") {
    document.getElementById(name+"_error").innerHTML = "";
    document.getElementById(name+"_info").style.visibility = "visible";
    document.getElementById(name+"_temp").innerHTML = myJson["temperature"];
    document.getElementById(name+"_pwr").innerHTML = myJson["power"] / 1000.;
    var n = (myJson["has_switch"] && myJson["state"]) ? "on" : "off";
    document.getElementById(name+"_state").innerHTML = n;
    var img = "/static/atb-switch-" + n + ".png";
    document.getElementById(name+"_switch").setAttribute("src", img);
  } else {
    console.log("unknown category '"+myJson["category"]+"'");
  }
}

</script>
